@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neacademia';
  src: url('/fonts/NeacademiaDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neacademia';
  src: url('/fonts/NeacademiaDisplay-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Amelia Giovani';
  src: url('/fonts/Amelia Giovani.ttf') format('truetype');
}

@font-face {
  font-family: 'English Script';
  src: url('/fonts/English Script.TTF') format('truetype');
}
/* Fonturi Tailwind */
* {
  font-family: 'Neacademia', serif;
}
* {
  font-family: 'AmeliaGiovani', serif;
}
.font-neacademia {
  font-family: 'Neacademia', serif;
}

.font-script {
  font-family: 'English Script', cursive;
}

/* Stiluri adi»õionale */
a.active hr {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
